@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="#">building CRUD Web apps with ASP.NET Core using Entity FrameWork</a>.</p>
</div>
